<VirtualHost *:80>
    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
</VirtualHost>

<VirtualHost *:443>

    SSLEngine on
    SSLCertificateFile {{ backuppc_apache_ssl_cert_file }}
    SSLCertificateKeyFile {{ backuppc_apache_ssl_cert_key_file }}

    ServerAdmin {{ backuppc_apache_email }}
    # DocumentRoot /usr/share/backuppc/cgi-bin/

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

</VirtualHost>
