<VirtualHost *:80>
    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
</VirtualHost>

<VirtualHost *:443>

    RewriteEngine On
    RedirectMatch ^/$ /backuppc/
    # /backuppc alias is configured in /etc/backuppc/apache.conf

    SSLEngine on
    SSLCertificateFile {{ backuppc_srv_apache_ssl_cert_file }}
    SSLCertificateKeyFile {{ backuppc_srv_apache_ssl_cert_key_file }}

    ServerAdmin {{ backuppc_srv_apache_email }}

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

</VirtualHost>
